.cartTable {
    padding: 24px;
    width: 100%;
    border-collapse: inherit;
    border-spacing: 0 10px;
}

.cartTableNameColumns {
    width: 60%;
    padding: 8px 16px;
}

.cartTablePriceColumns {
    width: 10%;
}

.cartTableQtyColumns {
    width: 20%;
}

.cartTableRemoveColumns {
    width: 10%;
    font-size:xx-small;
    color: red;
    font-weight: bold;
}

.quantityControls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffc534;
    padding: 4px;
    border-radius: 15px;
}


.cartTableRows {
    padding: 8px;
}

.incrementDecrementBtn {
    color: white;
}



