.cartTable {
    padding: 24px;
    width: 100%;
}

.cartTableNameColumns {
    width: 70%;
}

.cartTablePriceColumns {
    width: 10%;
}

.cartTableQtyColumns {
    width: 20%;
}

.quantityControls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffc534;
    padding: 4px;
    border-radius: 15px;
}

.cartTableRows {
    padding: 8px;
    padding: 8px;
}

.incrementDecrementBtn {
    color: white;
}



